:root {
    font-size: 16pt;
    --primary-colour: #f0fcff;
    --secondary-colour: #7991c7;
    --gradient-colour: #9bb5df;
    --font-colour: #40485a;
}

.darkmode {
    --primary-colour: #2b2d2e;
    --secondary-colour: #3e4142;
    --gradient-colour: #3e4142;
    --font-colour: #f9f9f9;
}

html,body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: var(--font-colour);
}

body {
    margin: 0;
    background: var(--primary-colour);
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

nav {
    font-size: 0.8rem;
    z-index: 2;

    border-radius: 20px;
}

nav ol {
    list-style-type: none;
    /* padding: 5px 0px; */
    margin: 5px;
}

nav li {
    display: inline;
    padding: 0px 20px;
}

nav li a {
    text-decoration: none;    
    color: var(--font-colour);
    padding: 12px;
    border-radius: 20px;
}

nav li a:hover {
    color: rgb(249,249,249);
    background-color: var(--secondary-colour);
    border-radius: 20px;
}

#nav-top a {
    transition: all 1s;
    color: rgb(249,249,249);
}

#nav-top a:hover {
    color: var(--font-colour);
    transition: none;
}

#nav-active a {
    transition: all 1s;
}

#nav-active a:hover {
    transition: none;
}


#hero {
    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    
    background-image: linear-gradient(to bottom, var(--secondary-colour) 0%, var(--gradient-colour) 50%, var(--primary-colour) 100%);
    color: rgb(249,249,249);

    /* background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed; */
}

.hero-content {
    position: relative;
    color: rgb(249,249,249);
}

.hero-title {
    font-size: 2rem;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.hero-subtitle {
    font-size: 1.5rem;
    margin-top: 0;
}

.hero-button {
    display: block;
    width: 150px;
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;

    border: 2px solid rgb(249,249,249);
    border-radius: 10px;

    color: rgb(249,249,249);
    text-decoration: none;
    font-size: 1rem;
}

section {
    height: 400px;
}

.section-title {
    margin-top: 0;
    font-size: 1.2rem;
}

.section-subtitle {
    font-size: 1.1rem;
}

section {
    width: 80%;
    margin: 0 auto;
}