:root {
    font-size: 12pt;
    --font-colour: 235, 235, 235; 
    --primary-colour: 71, 116, 146;
    --secondary-colour: 45, 49, 66;
}

/* Green Colourscheme 
--primary-colour: 35, 101, 89;
--secondary-colour: 97, 189, 149; */

/* @media (prefers-color-scheme: dark) {
    :root {
        --primary-colour: 80, 115, 145;
        --secondary-colour: 45, 49, 66;
    }
}

.darkmode {
    --primary-colour: 80, 115, 145;
    --secondary-colour: 45, 49, 66;
}

@media (prefers-color-scheme: dark) {
    .darkmode {
        --primary-colour: 35, 101, 89;
        --secondary-colour: 97, 189, 149;
    }
} */

html,body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(var(--font-colour));
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: rgb(var(--primary-colour));
}

header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    z-index: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font-weight: 500;
}

h2, h3, h4 {
    font-weight: 450;
}

p {
    margin: 0;
    margin-bottom: 10px
}

nav {
    font-size: 1rem;
    z-index: 2;
    padding: 10px;
    border-radius: 15px;
    background-color: rgba(var(--secondary-colour), 0.6);
}

nav ol {
    list-style-type: none;
    margin: 5px;
    padding: 0;
}

nav li {
    display: inline;
    padding: 0px 20px;
}

nav li a {
    text-decoration: none;    
    color: rgb(var(--font-colour));
    padding: 10px;
    border-radius: 25px;
    text-shadow: 2px 0px 10px rgb(var(--secondary-colour));
}

#hero {
    width: 100%;
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ), url("images/aleksandra-khaprenko-0PPw9irzLIw-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;

    /* box-shadow: inset 0 -10px 20px -10px rgb(var(--secondary-colour)); */
}

.hero-content {
    position: relative;
}

.hero-title {
    font-size: 2.5rem;
    margin-top: 0;
    margin-bottom: 0.5rem;

    font-weight: 500;
    text-shadow:
    0.03em 0 rgb(var(--secondary-colour)),
    0 0.03em rgb(var(--secondary-colour)),
    -0.03em 0 rgb(var(--secondary-colour)),
    0 -0.03em rgb(var(--secondary-colour)),
    -0.03em -0.03em rgb(var(--secondary-colour)),
    -0.03em 0.03em rgb(var(--secondary-colour)),
    0.03em -0.03em rgb(var(--secondary-colour)),
    0.03em 0.03em rgb(var(--secondary-colour));
}

.hero-subtitle {
    font-size: 1.5rem;
    margin-top: 0;

    font-weight: 500;
    text-shadow:
    0.03em 0 rgb(var(--secondary-colour)),
    0 0.03em rgb(var(--secondary-colour)),
    -0.03em 0 rgb(var(--secondary-colour)),
    0 -0.03em rgb(var(--secondary-colour)),
    -0.03em -0.03em rgb(var(--secondary-colour)),
    -0.03em 0.03em rgb(var(--secondary-colour)),
    0.03em -0.03em rgb(var(--secondary-colour)),
    0.03em 0.03em rgb(var(--secondary-colour));
}

.hero-button {
    display: block;
    width: 150px;
    padding: 0.5em;
    margin-left: auto;
    margin-right: auto;

    
    background-color: rgba(var(--secondary-colour), 0.8);
    border-radius: 10px;

    color: rgb(var(--text-colour));
    text-decoration: none;
    font-weight: 650;
    font-size: 1.1rem;
}

.hero-button:hover {
    background-color: rgba(var(--secondary-colour), 0.9);
}

section {
    width: 80%;
    margin: 0 auto;
}

.section-title {
    margin: 10px 0;
    font-size: 1.5rem;
}

.section-subtitle {
    font-size: 1.3rem;
    font-weight: 500;
    margin: 10px 0;
}

.wide-card {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 20px;
    margin: 10px 0;
}

.card-left {
    min-width: 270px;
}

.card-title {
    margin-top: 0;
    margin-bottom: 5px;
}

.card-subtitle {
    margin-top: 0;
    margin-bottom: 15px;
}

@media screen and (max-width: 1200px) {
    .card-left {
        min-width: 0;
    }

    .wide-card {
        flex-direction: column;
        gap: 0px;
    }
}

#about {
    display: flex;
    gap: 6px;
    flex-direction: column;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.skills span{
    border: 1px solid rgb(var(--secondary-colour));
    background-color: rgba(var(--secondary-colour), 0.3);
    border-radius: 6px;
    padding: 5px;
    min-width: fit-content;
}

.project-card-wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.project-card {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    border: 1px solid rgba(var(--secondary-colour), 0.6);
    border-radius: 10px;;

    text-decoration: none;
    padding: 30px;
    background-color: rgba(var(--secondary-colour), 0.1);
    color: rgb(var(--font-colour));
}

@media screen and (max-width: 1350px) {
    .project-card-wrapper { 
        grid-template-columns: none;
    }
}

.project-card:hover {
    background-color: rgba(var(--secondary-colour), 0.05);
    border: 1px solid rgb(var(--secondary-colour));
}

.project-card-title {
    margin: 10px 0;
}

.project-card-tags {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    gap: 5px;
}

.project-card-tags span{
    background-color: rgba(var(--secondary-colour), 0.1);
    border-radius: 6px;
    padding: 10px;
    min-width: fit-content;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin: 20px auto 10px auto;
    width: 80%;
    border-top: 1px solid rgba(var(--secondary-colour), 0.4);
}

.socials a {
    text-decoration: none;
    color: rgb(var(--text-colour));
}